# Importing Libraries

In [1]:
import pandas as pd 
import numpy as np
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report, accuracy_score, confusion_matrix

# Data Collection

In [2]:
df =  pd.read_csv(r"C:\Users\shrir\Desktop\Final_Project_Data\Latest_Files_For_Submission\For_ml_model.csv")
df.head()

,Unnamed: 0,Churn,MonthlyRevenue,MonthlyMinutes,TotalRecurringCharge,OverageMinutes,RoamingCalls,DroppedCalls,CustomerCareCalls,ReceivedCalls,...,PrizmCode_Town,Occupation_Crafts,Occupation_Homemaker,Occupation_Other,Occupation_Professional,Occupation_Retired,Occupation_Self,Occupation_Student,MaritalStatus_Unknown,MaritalStatus_Yes
0,0,1,24,219,22,0,0,0,0,97,...,0,0,0,0,1,0,0,0,0,0
1,1,1,16,10,17,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
2,2,0,38,8,38,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,1
3,3,0,82,1312,75,0,0,52,4,200,...,0,0,0,1,0,0,0,0,0,0
4,4,1,17,0,17,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1

In [3]:
df.columns

Index(['Unnamed: 0', 'Churn', 'MonthlyRevenue', 'MonthlyMinutes',
       'TotalRecurringCharge', 'OverageMinutes', 'RoamingCalls',
       'DroppedCalls', 'CustomerCareCalls', 'ReceivedCalls', 'OutboundCalls',
       'InboundCalls', 'PeakCallsInOut', 'OffPeakCallsInOut',
       'CallForwardingCalls', 'CallWaitingCalls', 'MonthsInService', 'Age',
       'CreditRating_2-High', 'CreditRating_3-Good', 'CreditRating_4-Medium',
       'CreditRating_5-Low', 'CreditRating_6-VeryLow', 'CreditRating_7-Lowest',
       'PrizmCode_Rural', 'PrizmCode_Suburban', 'PrizmCode_Town',
       'Occupation_Crafts', 'Occupation_Homemaker', 'Occupation_Other',
       'Occupation_Professional', 'Occupation_Retired', 'Occupation_Self',
       'Occupation_Student', 'MaritalStatus_Unknown', 'MaritalStatus_Yes'],
      dtype='object')

In [4]:
df.drop('Unnamed: 0' , axis = 1 , inplace = True)

In [5]:
df.columns

Index(['Churn', 'MonthlyRevenue', 'MonthlyMinutes', 'TotalRecurringCharge',
       'OverageMinutes', 'RoamingCalls', 'DroppedCalls', 'CustomerCareCalls',
       'ReceivedCalls', 'OutboundCalls', 'InboundCalls', 'PeakCallsInOut',
       'OffPeakCallsInOut', 'CallForwardingCalls', 'CallWaitingCalls',
       'MonthsInService', 'Age', 'CreditRating_2-High', 'CreditRating_3-Good',
       'CreditRating_4-Medium', 'CreditRating_5-Low', 'CreditRating_6-VeryLow',
       'CreditRating_7-Lowest', 'PrizmCode_Rural', 'PrizmCode_Suburban',
       'PrizmCode_Town', 'Occupation_Crafts', 'Occupation_Homemaker',
       'Occupation_Other', 'Occupation_Professional', 'Occupation_Retired',
       'Occupation_Self', 'Occupation_Student', 'MaritalStatus_Unknown',
       'MaritalStatus_Yes'],
      dtype='object')

In [6]:
x = df.drop(columns = 'Churn') # Input features (attributes)
y = df['Churn'] # Target Vector

In [7]:
x.head()

,MonthlyRevenue,MonthlyMinutes,TotalRecurringCharge,OverageMinutes,RoamingCalls,DroppedCalls,CustomerCareCalls,ReceivedCalls,OutboundCalls,InboundCalls,...,PrizmCode_Town,Occupation_Crafts,Occupation_Homemaker,Occupation_Other,Occupation_Professional,Occupation_Retired,Occupation_Self,Occupation_Student,MaritalStatus_Unknown,MaritalStatus_Yes
0,24,219,22,0,0,0,0,97,0,0,...,0,0,0,0,1,0,0,0,0,0
1,16,10,17,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1
2,38,8,38,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,0,0,1
3,82,1312,75,0,0,52,4,200,370,147,...,0,0,0,1,0,0,0,0,0,0
4,17,0,17,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,1

In [8]:
y.head()

0    1
1    1
2    0
3    0
4    1
Name: Churn, dtype: int64

# Random Forest

In [12]:
x_train_rf, x_test_rf, y_train_rf, y_test_rf = train_test_split(x, y, test_size = 0.2, random_state = 0)

In [15]:
from sklearn.ensemble import RandomForestClassifier

model_tree = RandomForestClassifier(n_estimators = 20,max_depth=15)
model_tree = model_tree.fit(x_train_rf, y_train_rf)
pred = model_tree.predict(x_test_rf)

print("Accuracy Score: ",accuracy_score(pred,y_test_rf))
print("Confusion Matrix:\n",confusion_matrix(pred,y_test_rf))
print("Classification Report: \n",classification_report(pred,y_test_rf))

Accuracy Score:  0.7218413320274241
Confusion Matrix:
 [[7215 2728]
 [ 112  155]]
Classification Report:
               precision    recall  f1-score   support

           0       0.98      0.73      0.84      9943
           1       0.05      0.58      0.10       267

    accuracy                           0.72     10210
   macro avg       0.52      0.65      0.47     10210
weighted avg       0.96      0.72      0.82     10210

In [16]:
## Checking Training Accuracy 

print("Training accuracy = ", model_tree.score(x_train_rf , y_train_rf)*100)

Training accuracy =  77.59629747532874

In [17]:
## Checking Testing Accuracy 

print("Testing accuracy = ", model_tree.score(x_test_rf , y_test_rf)*100)

Testing accuracy =  72.1841332027424

In [18]:
import pickle

In [ ]:
filename = 'latest_SAV_File.sav'
pickle.dump(model_tree , open(filename , 'wb'))
load_model = pickle.load(open(filename , 'rb'))